body {
  background: rgb(206, 222, 198);
  color: #4a5246;
}
.App {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0;
}
.App-logo {
  display: block;
  margin: 0 auto 50px;
  max-width: 200px;
}
.App-footer {
  margin-top: 50px;
  text-align: center;
}
.App-footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.App .logo-footer {
  max-width: 70px;
}
