.App {
  background: rgb(206, 222, 198);
  color: #4a5246;
  padding: 40px;
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin-top: 50px;
}
.App-footer a {
  color: white;
}
