.Meaning h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 20px;
}
.Meaning p {
  font-size: 16px;
  line-height: 17px;
  margin: 20px 0;
}
.Meaning em {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}
